body {
  /*background-color: white;*/
  background-color: rgb(180,180,170);
  /*background-color: rgb(152,151,149);*/
  font-family: 'Josefin Sans', serif;
  margin: 0;
}
div#verho, #pohja{
  background-size: 100%;
  position: absolute;
  top: 7px;
  left: calc((100% - 900px)/2); /*taustan leveys asetetaan tässä*/
  /*width: 100%;*/
  width: 900px;
  height: calc(100% - 7px);
  margin: 0;
}
div#verho {
  background-image: url('https://kuvat.vaellus.malmi.info/_IGP2002_tausta_00.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  pointer-events: none;
  z-index: 15;
  box-shadow: 2px 1px 5px 3px #888888;
}
div#pohja {
  background-color: gainsboro;
  z-index: 0;
}
article {
  /*background-image: url('https://kuvat.vaellus.malmi.info/_IGP2002_tausta_00.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 900px;*/
  position: absolute;
  top: 0;
  left: 0;
  /*width: 100%;*/
  width: 100%;
  height: 100%;
  margin: 0;
}
/*KAIKKI TAUSTAKUVAT PITÄÄ MUUTTAA VERHO-DIVIIN*/
/*Kommentti alla on vanha, en muista mihin liittyy*/
/* article::before {background-image: url('background.png');} /*IT NOT WORKING?!!*/
article.paistunturit2007 {
  background-image: url('kuvat.vaellus.malmi.info/Kevo-Paistunturi 2007/background.png');
}
article.kaldoaivi2008 {
  background-image: url('kuvat.vaellus.malmi.info/Kaldoaivi 2008/background2.jpg');
}
article.pöyrisjärvi2009 {
  background-image: url('kuvat.vaellus.malmi.info/Pöyrisjärvi 2009/background.jpg');
}
article.vätsäri2011 {
  background-image: url('kuvat.vaellus.malmi.info/Vätsäri 2011/background.jpg');
}
article.muotkatunturit2012 {
  background-image: url('kuvat.vaellus.malmi.info/Muotkatunturit 2012/background.jpg');
}
header {
  /*position: absolute; BAD!!*/
  position: relative;
  z-index: 20;
  width: 840px;
  height: 60px;
  margin: 0 auto 0 auto;
  padding-top: 85px;
}
header.paistunturit2007 {
  /* nämä olivat yhteensä 230px, nyt 200px*/
  height: 50px;
  padding-top: 150px;
}
header.kaldoaivi2008 {
  height: 120px;
  padding-top: 110px;
}
header.pöyrisjärvi2009 {
  height: 100px;
  padding-top: 130px;
}
header.vätsäri2011 {
  height: 103px;
  padding-top: 127px;
}
header.muotkatunturit2012 {
	height: 100px;
	padding-top: 130px;
}
section {
	cursor: ns-resize;
  width: 420px;
  height: inherit;
  margin: 0;
  border: 0;
	padding-right: 30px;
	padding-top: 60px; /*pudottaa kappaleet aluksi alemmas*/
  overflow: auto;
}
section.text {
  width: 490px;
  height: calc(100% - 60px); /*minus padding in section*/
  text-align: justify;
}
section.images {
  width: 320px;
  height: 500px;
  padding-left: 30px;
  /*padding-top: 90px;*/
}
h1 {
  font-family: 'Montez', cursive;
	font-size: 2em;
	color: white;
	opacity: 0.9;
	text-shadow: black 0.1em 0.1em 0.2em;
	margin: 0;
}
h2 {
  font-family: 'Montez', cursive;
	font-size: 1.5em;
	margin: 0.5em 0 0.5em 0;
}
p {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.3em;
  hyphens: auto;
  /*width: 500px;*/
  width: inherit;
}
ul{
  list-style-type: none;
  padding: 0 0 0.5em 0.5em;
  margin: 0;
}
li {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.4em;
}
a {
  text-decoration: none;
  color: #0033cc;
}
table, th, td {
  width: 450px;
  border-collapse: collapse;
  border: 2px ridge rgb(254,137,58);
  margin-top: 20px;
  padding: 3px;
}
/*img {
	width: inherit;
} tarpeeton */
#content {
  width: 840px;
  height: 60%;
  height: calc(100% - 160px);
  /* height: 100% - header (padding+height+20); START HERE!*/
  margin: 0 auto 0 auto;
}
#column {
  /*width: 420px;*/
  height: 100%;
  float: left;
  overflow: hidden;
}
#column.left {
  width: 490px;
}
#column.right{
  width: 350px;
}
div#alkukuva{
	padding-top: 60px;
}
div#skaalattu{
  padding: 0;
  overflow: hidden;
}
iframe.alkukuva{
  /* 		transform: scale(0.5, 0.5);	*/
}
.image {
  width: 320px;
  height: auto;
  margin-bottom: 20px;
  border: 0px;
  clear: both;
  text-align: center;
}
.image a {
  background-color: transparent;
  border: 0px;
  color: #0033cc;
}
.image p {
  font-size: 0.9em;
  line-height: 1.2em;
}
.image img {
	width: calc(320px - 2px); /*minus border width*/
	border: 0;
	border: 1px solid white;
}
.image iframe {
  border: 1px solid white;
  /*opacity: 0.66;*/
  transform: scale(0.75, 0.75);
  transform-origin: 0 0;
}
